In [1]:
import pandas as pd
import numpy as np

In [2]:
raw = pd.read_csv('sample.txt')

In [3]:
display(round(raw,2))

,firm,year,score_mean,score_max,score_min,grade_mean,grade_max,grade_mix,covered
0,faj,april2006,16.73,72.75,5.68,16.64,73.0,6.0,95.65
1,jbf,october2018,10.17,19.20,3.29,10.10,19.0,3.0,95.45
2,jef,november2018,53.22,103.44,16.63,53.12,103.0,17.0,84.21
3,jfe,december2018,13.12,20.74,5.17,13.14,21.0,5.0,95.45
4,jfe,march2019,9.21,12.49,3.37,9.18,12.0,3.0,100.00
5,jfe,october2018,13.56,24.26,4.24,13.50,24.0,4.0,100.00
6,jf,april2017,52.88,78.71,31.93,53.00,79.0,32.0,8.62
7,jf,august2017,37.56,48.64,14.67,37.71,49.0,15.0,17.50
8,jf,june2017,60.53,177.27,22.82,60.50,177.0,23.0,18.75